{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'discover/discover_css.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

    <title>manage ip</title>
</head>
<body>

<div class="page-wrapper cool-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">AIT - monitor</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="sidebar-header">
                <div class="user-info">
                        <span class="user-name">
                            <strong>Bunpitcha</strong>
                        </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                </div>
            </div>

            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="#">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="#">Dashboard 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>Discover</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="{% url 'view_all_ip' %}">Manage IP node</a>
                                </li>
                                <li>
                                    <a href="{% url 'discover-ip' %}">Auto Discover</a>
                                </li>
                                <li>
                                    <a href="{% url 'scan-ip' %}">Scan IP range</a>
                                </li>
                                <li>
                                    <a href="{% url 'add-ip' %}">Add Devices</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-id-card"></i>
                            <span>Node Profile</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">General</a>
                                </li>
                                <li>
                                    <a href="#">Panels</a>
                                </li>
                                <li>
                                    <a href="#">Tables</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>Maps</span>
                        </a>
                    </li>
                </ul>

                <div class="sidebar-footer">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>
                    <a href="#">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-12"><br>
                    <h2>Manage IP Node</h2>
                    <div class="form-group col-md-12">
                        <table class="table table-striped">
                            <table>
                                <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for node_ip in result %}
                                    <tr>
                                        <td>{{ node_ip.ip }}</td>
                                        <td>
                                            <form method="post" action="{% url 'remove' %}">
                                                {% csrf_token %}
                                                <input type="submit" value="remove" class="btn btn-swipe">
                                                <input type="hidden" name="ip" value="{{ node_ip.ip }}">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
</div>

    <script src="{% static 'discover/disJS.js' %}"></script>


</body>
</html>