{% extends 'network_monitoring/base.html' %}
{% load static %}

{% block content %}

    <div class="main page-header">
        <h2 class="fa fa-file-text-o">Node Detail</h2>
    </div>
    <div class="main page-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <section class="card">
                        <h2>Node Details</h2>

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Node status</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>polling ip address</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>dynamic ip</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>machine type</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>node category</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>DNS</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
